.goods_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.card {
  width: 200px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add_product_form {
  margin-bottom: 10px;
}
